# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/frontend/node_modules
/backend/venv
/backend/env

# testing
/coverage

# production
/backend/build
/frontend/build

# env
/backend/.env
/frontend/.env

# Ignorer les fichiers compilés Python
**/__pycache__/*
*.py[cod]
**/migrations/__pycache__/*
